@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,600&display=swap');

body{
  margin: 0;
}

:root {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-style: normal;
  --VertBleu: #008787;
  --Bleu: #025892;
  --Gris: #E3E3E3;
  --Rouge: #FF3535;
}
/* Page Accueil Entreprise */

.AccueilMailRecu, .AccueilAucunMail{
  margin: 0;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}

.AccueilMailRecu button {
  padding: 1em 2em;
  color: #E3E3E3;
  background-color: var(--Bleu);
  border-radius: 40px;
  padding: 1rem 4rem;
  font-weight: 600;
}

.AccueilAucunMail button {
  padding: 1em 2em;
  color: #ffffff;
  background-color: #4597b574;
  border-radius: 40px;
  padding: 1rem 4rem;
  border: none;
  font-size: 1.2rem
}

/* Page Formulaire, details de l'entreprise */
.SectionForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}
input {
  background-color: rgb(240, 240, 240);
  border-radius: 1rem;
  padding-left: 1vw;
}
 /* Page de connexion */
#password {
  font-size: 24px;
  height: 74px;
  min-width: 273px;
  border-radius: 80.5px;
  padding-left: 50px;
  margin-bottom: 25px;
  background-color: #E3E3E3;
}

select{
  font-size: 24px;
  height: 74px;
  min-width: 340px;
  border-radius: 80.5px;
  padding-left: 50px;
  margin-bottom: 25px;
  background-color: #E3E3E3;
}

img {
  height: 12rem;
}

.backBtn{
  background-color: var(--Bleu);
  border-radius: 1rem;
  color: white;
  padding: 0.2rem 4rem;
  height: 3rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center ;
  gap: 2vw;
}
.align{
  display: flex;
  align-items: center; 
}
.NameEntr{
  color: var(--Bleu);
}

#iconeNewMail {
  height: 6rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3vw;
  color: var(--Bleu);
  background-color: var(--Gris);
  border-radius: 1rem;
  padding: 5vw;
  width: 35vw;
}

.column {
  display:flex ;
  flex-direction: column;
  gap: 1vw;
}

.spaceBeetw{
display: flex;
justify-content: space-between;
}

.deleteBtn {
  padding: 1em 2em;
  color: #ffffff;
  background-color: var(--Rouge);
  border-radius: 40px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: none;
}

.submitForm{
  padding: 1em 2em;
  color: #ffffff;
  border: none;
  background-color: var(--Bleu);
  border-radius: 40px;
  padding: 1rem 2rem;
  font-size: 1.2rem
}



/* Icones modal reception courrier */

.centerIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}


/*    Fin de la page formulaire      */

 /* Page de connexion */
 #password {
  font-size: 24px;
  height: 74px;
  min-width: 273px;
  border-radius: 80.5px;
  padding-left: 50px;
  margin-bottom: 25px;
  background-color: #E3E3E3;
}

select{
  font-size: 24px;
  height: 74px;
  min-width: 340px;
  border-radius: 80.5px;
  padding-left: 50px;
  margin-bottom: 25px;
  background-color: #E3E3E3;
}

/*  fin page home */ 

